* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
}

html,
body {
  font-family: "My_Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: #010101;
  color: #fff;
}

#hero {
  position: relative;
}

/* #about {
  height: 100vh;
} */

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: relative;
  overflow: hidden;
}

.layer__content {
  position: relative;
  z-index: 1;

  font-weight: 900;
  text-transform: uppercase;

  transform: translate3d(0, calc(var(--scroll-top) / 4), 0);
  will-change: transform;

  margin-top: calc((var(--index)) * -2);
  color: rgb(255, 242, 223);
  text-shadow: 0 0 15px rgb(251 216 166);
  ;
}

.layer__caption {
  display: inline-block;
  font-size: calc(var(--index) / 1.3);
  letter-spacing: calc(var(--index) / 3);
  margin-bottom: calc((var(--index)) / 4);
}

.layer__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}

.layer {
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  background-size: cover;
  background-position: center;

  will-change: transform;
}

.layer__base {
  transform: translate3d(0, calc(var(--scroll-top) / 4), 0);
  z-index: 0;
}

.layer__middle {
  transform: translate3d(0, calc(var(--scroll-top) / 6), 0);
}

.layer__front {
  /* transform: translate3d(0, calc(var(--scroll-top) / 10), 0); */
}

.about__layer {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about__content {
  height: 100%;
}

.about__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 3);
}

.about__subtitle {
  max-width: 600px;
  font-size: calc(var(--index) / 1);
  margin-bottom: calc((var(--index)) / 4);
}